node_modules/
dist/
.env
.env.*
!.env.example
package-lock.json
.turbo/

# .gitignore
.terraform/
*.tfstate
*.tfstate.backup
*.exe
terraform.tfvars
# No subir credenciales
qa.tfvars

# IDEs
.vscode/
.idea/